@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .frame {
    @apply bg-gray-300 w-96 h-3/4 my-20 flex flex-col justify-center items-center;
  }
  .Input {
    @apply border-solid border-2 border-indigo-300 w-36;
  }
  .btn {
    @apply border-solid border-2 border-orange-100 bg-orange-100;
  }
}
